    <html>
        <head>
            <title>
                Narrative A star
            </title>
        </head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" media="screen and (min-device-width: 800px)" href="../styles/Desktop_template.css" />
    <link rel="stylesheet" media="screen and (max-device-width: 800px)" href="../styles/template.css" />
        <body>

        <div class="wrapper">

            <div class="header">
                <div class="git">
                    <a href="https://github.com/lucasgaertner/Kita-Children-Check"> 
                    <img class="logo" src="../pictures/GitHub-Mark/PNG/GitHub-Mark-120px-plus.png" alt="github logo"\>
                    Repository
                    </a> 
                    <div class="status">

    <div class="link"><span>scientific</span></div>
    <div class="link intro"><span><center><a class="link" href="#" onclick="history.go(-1)">back</a></center></span></div>
                </div>
            </div>

            <hr>

            <div class="heading">          
                    Path Finding
            </div>
            <div class="file">
                <img class="project_1" src="../projects/A Asterics/A_Asterics.gif" alt="A Asterics"/>
            </div>
        </div>
        <div class="person">
            <div class="descriptive_photo">
                <img class="photo" src="../pictures/4by3.jpg" alt="me" />
                </div>
            <div class="descriptive">Gärtner, Lucas<p>Sep 5, 2020 · 4 min read</p></div>
        </div>
        <div class="description">
            A* is the most popular choice for pathfinding, because it’s fairly flexible and can be used in a wide range of contexts. In this project I used it to find a shortest path.
<br>
<br>
<h4>One important aspect of A* is f = g + h. </h4> <br> The f, g, and h variables are in our Node class and get calculated every time we create a new node. Quickly I’ll go over what these variables mean.
    <br>
            F is the total cost of the node.
            G is the distance between the current node and the start node.
            H is the heuristic — estimated distance from the current node to the end node.
        </div>
    
        <div class="tags">
            <div class="tag"><span><center>Desktop-Application</center></span></div>
            <div class="tag"><span><center>Matrix-equation</center></span></div>
            <div class="tag"><span><center>heuristic</center></span></div>
            <div class="tag"><span><center>Manhatten-Distance</center></span></div>
            <div class="tag"><span><center>Path-Finding</center></span></div>
        </div>
    </div>
    <!--
    <div class="footer">
        <table class="footer-index">    
            <tr class="footer-index row">
            
    
            <td class="footer-index-column">
                <center>
                <div class="footer-row">
                    <a href="https://medium.com/@cloudbartner">
            <img src="../pictures/icons/medium.png"> 
            </a>
                </div>
                </center>
            </td>
    
            <td class="footer-index column middle">
                <center>
                <div class="footer-row home">
                    <a href="#" onclick="history.go(-1)">
                    <img src="../pictures/icons/home.png">
                    </a>
                </div>
                </center>
            </td>
            
            <td class="footer-index-column"> 
                <center>
                <div class="footer-row">
                    <a href="https://www.linkedin.com/in/lucas-gaertner">
            <img src="../pictures/icons/linkedin.png"> 
            </a>
                </div> 
                </center>
            </td>
        
        </tr>
        </table> 
            </div>
        --> 
    </body>
    </html>