<html>
    <head>
        <title>
            Narrative Conclusion
        </title>
    </head>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&display=swap" rel="stylesheet"> 
<link rel="stylesheet" media="screen and (min-device-width: 800px)" href="../styles/Desktop_template.css" />
<link rel="stylesheet" media="screen and (max-device-width: 800px)" href="../styles/template.css" />
    <body>

    <div class="wrapper">

        <div class="header">
            <div class="git">
                <a href="https://github.com/lucasgaertner/Kita-Children-Check"> 
                <img class="logo" src="../pictures/GitHub-Mark/PNG/GitHub-Mark-120px-plus.png" alt="github logo"\>
                Repository
                </a> 
                <div class="status">

<div class="link"><span>private</span></div>
<div class="link intro"><span><center><a class="link" href="#" onclick="history.go(-1)">back</a></center></span></div>
              </div>
          </div>

          <hr>

          <div class="heading">          
                 Conclusion 
          </div>
         <div class="file">
              <img class="project_1" src="../projects/Conclusion/Desktop_visualization.gif" alt="Conclusion"/>
          </div>
      </div>
      <div class="person">
        <div class="descriptive_photo">
            <img class="photo" src="../pictures/4by3.jpg" alt="me" />
            </div>
          <div class="descriptive">Gärtner, Lucas<p>Mar 4, 2020 · 3 min read</p></div>
      </div>
      <div class="description">
          "I do all the work, and they get all the praise."
          Ever heard this sentence from your colleague?
          <br>
          Take a step back and analyze the comment. There is a value in what your colleague is saying - you just have to listen.
          <br>
          <br>
          
One evening I dealt with this sentence. There is a lot of miscommunication in the sentence. 
          At the end of the project, those involved can create a short recap so that everyone can understand 
          the communication. Otherwise, the responsible person for the project sees himself and
          cannot keep up with other tasks. These processes are always common. 
          If you know this introductory sentence, you can certainly imagine a similar situation.
          <br>
          This project was an azure project, where I wanted to handle requests/responses via the graph API from Microsoft.
          <br><br>
          In a few technical sentences:
        This is Web-App is for Users with the outh2, to grab Outlook attendees, Title and other Informations from a Meeting. The Writer is able to send the whole conclusion to all or only choosen attendees. It is a private take by hand project for my company, sometimes it is necessary to take an app to get on the right road. The purpose for this is app is quite simple: If you are talking for hours or even series dates, it is quite hard for all attendees to make a conclusion. It is a guide to make it more easy to remind people for the purpose conclusion. This will not work if you will clone it, you will first have to define the Secret of this App in Azure.
      </div>
  
      <div class="tags conclusion">
        <div class="tag"><span><center>Django</center></span></div>
        <div class="tag"><span><center>office365</center></span></div>
        <div class="tag"><span><center>OAuth2</center></span></div>
        <div class="tag"><span><center>json</center></span></div>
      </div>
</div>
<!--
<div class="footer">
    <table class="footer-index">    
           <tr class="footer-index row">
              
    
            <td class="footer-index-column">
                <center>
                 <div class="footer-row">
            <img src="../pictures/icons/medium.png"> 
                </div>
                </center>
            </td>
    
            <td class="footer-index column middle">
                <center>
                <div class="footer-row home">
                    <a href="#" onclick="history.go(-1)">
                    <img src="../pictures/icons/home.png">
                    </a>
                </div>
                </center>
            </td>
            
            <td class="footer-index-column"> 
                <center>
                <div class="footer-row">
                    <a href="https://www.linkedin.com/in/lucas-gaertner">
            <img src="../pictures/icons/linkedin.png"> 
                </a>
                </div> 
                </center>
            </td>
        
        </tr>
        </table>
           </div>
        -->
 
</body>
</html>
