    <html>
        <head>
            <title>
                Narrative A star
            </title>
        </head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" media="screen and (min-device-width: 800px)" href="../styles/Desktop_template.css" />
    <link rel="stylesheet" media="screen and (max-device-width: 800px)" href="../styles/template.css" />
        <body>

        <div class="wrapper">

            <div class="header">
                <div class="git">
                    <a href="https://github.com/lucasgaertner/Kita-Children-Check"> 
                    <img class="logo" src="../pictures/GitHub-Mark/PNG/GitHub-Mark-120px-plus.png" alt="github logo"\>
                    Repository
                    </a> 
                    <div class="status">

    <div class="link"><span>scientific</span></div>
    <div class="link intro"><span><center><a class="link" href="#" onclick="history.go(-1)">back</a></center></span></div>
                </div>
            </div>

            <hr>

            <div class="heading">          
                   Alter manual archiving 
            </div>
            <div class="file">
                <img class="project_1" src="../projects/DMS/desktop_view.gif" alt="Alter manual archiving"/>
            </div>
        </div>
        <div class="person">
            <div class="descriptive_photo">
                <img class="photo" src="../pictures/4by3.jpg" alt="me" />
                </div>
            <div class="descriptive">Gärtner, Lucas<p>May 30, 2020 · 1 min read</p></div>
        </div>
        <div class="description">
         DMS is a microservice-Architecture, based on an AI-model with an offline-storage, Python3 powered and HTML5 Markdown.

    Upload a document
    Storing document type and document in the background
    Save time and space without tons of paper

You can also:

    Import and save files from anywhere in your Network
    Upload PDF, tiff, jpg or png documents
    Export documents as base64 encoded

DMS is a lightweight tool based on natural language processed. You are able
        </div>
    
        <div class="tags">
            <div class="tag"><span><center>NLP</center></span></div>
            <div class="tag"><span><center>AI</center></span></div>
            <div class="tag"><span><center>flask</center></span></div>
            <div class="tag"><span><center>Postgres</center></span></div>
            <div class="tag"><span><center>OCR</center></span></div>
    </div>

    <!--
    <div class="footer">
        <table class="footer-index">    
            <tr class="footer-index row">
            
    
            <td class="footer-index-column">
                <center>
                <div class="footer-row">
                    <a href="https://medium.com/@cloudbartner">
            <img src="../pictures/icons/medium.png"> 
            </a>
                </div>
                </center>
            </td>
    
            <td class="footer-index column middle">
                <center>
                <div class="footer-row home">
                    <a href="#" onclick="history.go(-1)">
                    <img src="../pictures/icons/home.png">
                    </a>
                </div>
                </center>
            </td>
            
            <td class="footer-index-column"> 
                <center>
                <div class="footer-row">
                    <a href="https://www.linkedin.com/in/lucas-gaertner">
            <img src="../pictures/icons/linkedin.png"> 
            </a>
                </div> 
                </center>
            </td>
        
        </tr>
        </table> 
            </div>
        -->
    
    </body>
    </html>