<html>
    <head>
        <title>
            Narrative Labeln
        </title>
    </head>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&display=swap" rel="stylesheet"> 
<link rel="stylesheet" media="screen and (min-device-width: 800px)" href="../styles/Desktop_template.css" />
<link rel="stylesheet" media="screen and (max-device-width: 800px)" href="../styles/template.css" />
    <body>

    <div class="wrapper">

      <div class="header">
          <div class="git">
              <a href="https://github.com/Lexzau/Labeln"> 
              <img class="logo" src="../pictures/GitHub-Mark/PNG/GitHub-Mark-120px-plus.png" alt="github logo"\>
              </a> 
              <div class="status">

<div class="link"><span>private</span></div>
<div class="link intro"><span><center>narrative</center></span></div>
              </div>
          </div>

          <hr>

          <div class="heading">          
                 Labeln 
          </div>
         <div class="file">
              <img class="project_1" src="../projects//Labeln/Document_Visualization.gif" alt="Labeln"/>
          </div>
      </div>
      <div class="person">
          <img class="photo" src="../pictures/grey.jpeg" alt="Labeln" />
          <div class="descriptive">Gärtner, Lucas<p>Jul 13, 2020 · 1 min read</p></div>
      </div>
      <div class="description">
        Labeln is a performance tool for data cleaning in supervised machine learning projects. It visualize Documents and generates folder that maps an input to an labeled data category-folder. Dataset clearing should normally be Human-labeled data and for this approach Labeln is a good partner for the time consuming part of a ml-project.
      </div>
  
      <div class="tags labeln">
        <div class="tag"><span><center>Web-Application</center></span></div>
        <div class="tag"><span><center>flask</center></span></div>
        <div class="tag"><span><center>pdf.js</center></span></div>
        <div class="tag"><span><center>http-Methods</center></span></div>
      </div>
</div>
<div class="footer">
    <table class="footer-index">    
        <tr class="footer-index row">
           
 
         <td class="footer-index-column">
             <center>
              <div class="footer-row">
                 <a href="https://medium.com/@cloudbartner">
         <img src="../pictures/icons/medium.png"> 
         </a>
             </div>
             </center>
         </td>
 
         <td class="footer-index column middle">
             <center>
             <div class="footer-row home">
                 <a href="#" onclick="history.go(-1)">
                 <img src="../pictures/icons/home.png">
                 </a>
             </div>
             </center>
         </td>
         
         <td class="footer-index-column"> 
             <center>
             <div class="footer-row">
                 <a href="https://www.linkedin.com/in/lucas-gaertner">
         <img src="../pictures/icons/linkedin.png"> 
         </a>
             </div> 
             </center>
         </td>
     
     </tr>
     </table> 
           </div>
 
</body>
</html>