<html>
    <head>
        <title>
            Narrative Location-map
        </title>
    </head>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&display=swap" rel="stylesheet"> 
<link rel="stylesheet" media="screen and (min-device-width: 800px)" href="../styles/Desktop_template.css" />
<link rel="stylesheet" media="screen and (max-device-width: 800px)" href="../styles/template.css" />
    <body>

    <div class="wrapper">

        <div class="header">
            <div class="git">
                <a href="https://github.com/lucasgaertner/Kita-Children-Check"> 
                <img class="logo" src="../pictures/GitHub-Mark/PNG/GitHub-Mark-120px-plus.png" alt="github logo"\>
                Repository
                </a> 
                <div class="status">

<div class="link"><span>private</span></div>
<div class="link intro"><span><center><a class="link" href="#" onclick="history.go(-1)">back</a></center></span></div>
              </div>
          </div>

          <hr>

          <div class="heading">          
                 Location-map 
          </div>
         <div class="file">
              <img class="project_1" src="../projects/Location-map-master/Location.gif" alt="Location-Visualisation"/>
          </div>
      </div>
      <div class="person">
        <div class="descriptive_photo">
            <img class="photo" src="../pictures/4by3.jpg" alt="me" />
            </div>
          <div class="descriptive">Gärtner, Lucas<p>Jul 13, 2020 · 4 min read</p></div>
      </div>
      <div class="description">
          With this modification reporting tool I was able to visualize a 2D map into a 3D rotating visualization of a World-map. The moment you hover over a country, the verge were coloured highlithed. If you want to know more about the hovered country you should click on it. The report is a simple d3.js bubble chart with random data.
This tool is a great visualization for companies which covering the global market. I would love to use this visualization for companies which wants to offer their costumer some awesome features based on their data.
This project conntains http-methods for generating the choosen country to the depending data. Country data is represented as polygons with model-data of the worlds countries. All features are wrapped into a flask web-application to use this on your own web-server.

      </div>
  
      <div class="tags location">
        <div class="tag"><span><center>Web-Application</center></span></div>
        <div class="tag"><span><center>Javascript</center></span></div>
        <div class="tag"><span><center>d3.js</center></span></div>
        <div class="tag"><span><center>Polygons</center></span></div>
        <div class="tag"><span><center>flask</center></span></div>
        <div class="tag"><span><center>http-Methods</center></span></div>
        <div class="tag"><span><center>Report</center></span></div>
      </div>
</div>
<!--
<div class="footer">
    <table class="footer-index">    
        <tr class="footer-index row">
           
 
         <td class="footer-index-column">
             <center>
              <div class="footer-row">
                 <a href="https://medium.com/@cloudbartner">
         <img src="../pictures/icons/medium.png"> 
         </a>
             </div>
             </center>
         </td>
 
         <td class="footer-index column middle">
             <center>
             <div class="footer-row home">
                 <a href="#" onclick="history.go(-1)">
                 <img src="../pictures/icons/home.png">
                 </a>
             </div>
             </center>
         </td>
         
         <td class="footer-index-column"> 
             <center>
             <div class="footer-row">
                 <a href="https://www.linkedin.com/in/lucas-gaertner">
         <img src="../pictures/icons/linkedin.png"> 
         </a>
             </div> 
             </center>
         </td>
     
     </tr>
     </table> 
           </div>
        -->

</body>
</html>