<html>
    <head>
        <title>
            Narrative Logistic recommendation
        </title>
    </head>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&display=swap" rel="stylesheet"> 
<link rel="stylesheet" media="screen and (min-device-width: 800px)" href="../styles/Desktop_template.css" />
<link rel="stylesheet" media="screen and (max-device-width: 800px)" href="../styles/template.css" />
    <body>

    <div class="wrapper">

        <div class="header">
            <div class="git">
                <a href="https://github.com/lucasgaertner/Kita-Children-Check"> 
                <img class="logo" src="../pictures/GitHub-Mark/PNG/GitHub-Mark-120px-plus.png" alt="github logo"\>
                Repository
                </a> 
                <div class="status">

<div class="link"><span>private</span></div>
<div class="link intro"><span><center><a class="link" href="#" onclick="history.go(-1)">back</a></center></span></div>
              </div>
          </div>

          <hr>

          <div class="heading">          
                 Location 
          </div>
         <div class="file">
              <img class="project_1" src="../projects/Location/Desktop_vizualization.gif" alt="Logistic Flight Simulator"/>
          </div>
      </div>
      <div class="person">
        <div class="descriptive_photo">
            <img class="photo" src="../pictures/4by3.jpg" alt="me" />
            </div>
          <div class="descriptive">Gärtner, Lucas<p>Sep 16, 2020 · 5 min read</p></div>
      </div>
      <div class="description">

        What comes up if your hear: Logistic? May you think of two positions A and B, where someone deliver something from A to B. Roughly speaking, that’s it. To be more accurate imagine the following:
        You got a Logistic company, a costumer wants an offer to ship his items from his store (A) his goal(B).
        This is a typically task from a logistic company, finding out the shortest and cheapest way. For this purpose I developed this tool. 
        You, as a logistic company contact the trucker which is near to the cheapest container or more near to the starting point. That would be a smart way, to get a short distance between any points he has to drive -please keep in mind that most time you have to pay for the Trucker oil as well. But what is if the container which is nearer to the Trucker offers a higher price as the container lessor 50 km more away.
        Therefor I developed this tool, which calculates the whole Amount of prices for each location and dependency.
      </div>
  
      <div class="tags location">
        <div class="tag"><span><center>Web-Application</center></span></div>
        <div class="tag"><span><center>flask</center></span></div>
        <div class="tag"><span><center>OSM</center></span></div>
        <div class="tag"><span><center>Data-science</center></span></div>
        <div class="tag"><span><center>pandas</center></span></div>
      </div>
</div>
<!--
<div class="footer">
    <table class="footer-index">    
           <tr class="footer-index row">
              
    
            <td class="footer-index-column">
                <center>
                 <div class="footer-row">
                    <a href="https://medium.com/@cloudbartner">
            <img src="../pictures/icons/medium.png"> 
            </a>
                </div>
                </center>
            </td>
    
            <td class="footer-index column middle">
                <center>
                <div class="footer-row home">
                    <a href="#" onclick="history.go(-1)">
                    <img src="../pictures/icons/home.png">
                    </a>
                </div>
                </center>
            </td>
            
            <td class="footer-index-column"> 
                <center>
                <div class="footer-row">
                    <a href="https://www.linkedin.com/in/lucas-gaertner">
            <img src="../pictures/icons/linkedin.png"> 
            </a>
                </div> 
                </center>
            </td>
        
        </tr>
        </table>
           </div>
        -->
 
</body>
</html>