<html>
    <head>
        <title>
            Narrative Text-recommendation 
        </title>
    </head>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&display=swap" rel="stylesheet"> 
<link rel="stylesheet" media="screen and (min-device-width: 800px)" href="../styles/Desktop_template.css" />
<link rel="stylesheet" media="screen and (max-device-width: 800px)" href="../styles/template.css" />
    <body>

    <div class="wrapper">

      <div class="header">
          <div class="git">
            <a href="https://github.com/lucasgaertner/auto-recommendation"> 
                <img class="logo" src="../pictures/GitHub-Mark/PNG/GitHub-Mark-120px-plus.png" alt="github logo"\>
                </a> 
              <div class="status">

<div class="link"><span>public</span></div>
<div class="link intro"><span><center>narrative</center></span></div>
              </div>
          </div>

          <hr>

          <div class="heading">          
              Text-recommendation 
          </div>
         <div class="file recommendation">
              <img class="project_2" src="../projects/text-recommendation/auto-completion.gif" alt="auto-completion"/>
          </div>
      </div>
      <div class="person">
          <img class="photo" src="../pictures/4by3.jpg" alt="Labeln" />
          <div class="descriptive">Gärtner, Lucas<p>Sep 13, 2020 · 4 min read</p></div>
      </div>
      <div class="description">
          Modern recommender problems involve complex objects, often described in textual form. 
I visualized a text-based recommendation engine that utilizes minimum edit distance, dynamic programming and word probabilities. The text corpus is a history play called Henry V document written from shakespeare in near 1599.
My approach was to obtain a text-to-vector mapping visualization. The basic Idea why I used dynamic programming is for optimization over plain recursion for repeating following repeating tasks.

      </div>
  
      <div class="tags location">
        <div class="tag"><span><center>NLP</center></span></div>
        <div class="tag"><span><center>Linear-Algebra</center></span></div>
        <div class="tag"><span><center>min edit distance</center></span></div>
        <div class="tag"><span><center>Arrays</center></span></div>
        <div class="tag"><span><center>Slicing</center></span></div>
        <div class="tag"><span><center>pygame</center></span></div>
        <div class="tag"><span><center>Levenshtein distance</center></span></div>
        <div class="tag"><span><center>Dynamic programming</center></span></div>
        <div class="tag"><span><center>Levenshtein distance</center></span></div>
        <div class="tag"><span><center>Backtrace</center></span></div>
      </div>
</div>
<div class="footer">
    <table class="footer-index">    
        <tr class="footer-index row">
           
 
         <td class="footer-index-column">
             <center>
              <div class="footer-row">
                 <a href="https://medium.com/@cloudbartner">
         <img src="../pictures/icons/medium.png"> 
         </a>
             </div>
             </center>
         </td>
 
         <td class="footer-index column middle">
             <center>
             <div class="footer-row home">
                 <a href="#" onclick="history.go(-1)">
                 <img src="../pictures/icons/home.png">
                 </a>
             </div>
             </center>
         </td>
         
         <td class="footer-index-column"> 
             <center>
             <div class="footer-row">
                 <a href="https://www.linkedin.com/in/lucas-gaertner">
         <img src="../pictures/icons/linkedin.png"> 
         </a>
             </div> 
             </center>
         </td>
     
     </tr>
     </table>
           </div>
 
</body>
</html>